<!-- views/search.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Search Results</title>
</head>
<body>
  <h1>Asset Tracker Results</h1>

  <% if (assets.length === 0) { %>
    <p>No assets found matching your search query.</p>
  <% } else { %>
    <ul>
      <% assets.forEach((empasset) => { %>
        <li>Employee ID: <%= empasset.eid %></li>
        <li>Username: <%= empasset.username %></li>
        <li>Asset Tag: <%= empasset.assettag %></li>
        <li>Borrow Period: <%= empasset.startdate %> - <%= empasset.enddate %>  </li>
        <li>Status: <%= empasset.borrowstatus %></li>
        <br>
      <% }); %>
    </ul>
  <% } %>
   
</body>
</html>